<%= simple_form_for @pin, html: { multipart: true } do |f| %>

  <% if @pin.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@pin.errors.count, "error") %>
        prevented this Pin from saving
      </h2>
      <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :image, input_html: { class: 'form-control' } %>
  <div class="form-group">
    <label for="title">Title</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area:description, rows: 5, class: "form-control", placeholder: "Discription" %>
  </div>
  <div class="form-group">
      <button class="button">Submit</button>
      <button class="button"><%= link_to "Back", pins_path %></button>
  </div>
<% end %>
