
<div class="container">
  <h2 class="toread_list_title"><%= @toread_list.title %></h2>
  <div id="toread_items_wrapper">
    <%= render @toread_list.toread_items %>
    <div id="form">
      <%= render "toread_items/form" %>
    </div>
  </div>

  <div class="links">
    <%= link_to 'Edit', edit_toread_list_path(@toread_list) %> |
    <%= link_to 'Delete', toread_list_path(@toread_list), method: :delete, data: { confirm: "Are you sure?" } %> |
    <%= link_to 'Back', toread_lists_path %>
  </div>
</div>
